$primary: #F38181;
$secondary: #FCE38A;
$success: #73aea4;
$warning: #95E1D3; // background color

.img-sizing {
  width: 80px;
  height: 80px
}
p{
  margin-bottom: 0 !important;
}
.text-24{
  font-size: 24px;
}

.bg-img-height{
  height: 200px;
}
.w-screen{
  width: 800px;
}
.img-position{
  top: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.text-16{
  font-size: 12px;
}
.light-bg{
  background-color: #DBDBDB;
}

@import "bootstrap/scss/bootstrap.scss";

